<html ng-app="app">
<head>
  <title>ngTodo</title>
</head>
<body>

<ng-view></ng-view>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<!-- CSS Link -->
<link href="./css/app.css" rel="stylesheet" type="text/css">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Template -->
<script type="text/ng-template" id="/todos.html">
  Search: <input type="text" ng-model="search.name">
  <ul>
    <li ng-repeat="todo in todos | filter: search">
      <input type="checkbox" ng-model="todo.completed">
      <a href="#/{{$index}}">{{todo.name}}</a>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/todoDetails.html">
  <h1>{{ todo.name }}</h1>
  completed: <input type="checkbox" ng-model="todo.completed">
  note: <textarea>{{ todo.note }}</textarea>
</script>

<script>
  angular.module('app', ['ngRoute'])
    //---------------
    // Services
    //---------------
    .factory('Todos', function(){
      return [
        { name: 'AngularJS Directives', completed: false, note: 'add notes...' },
        { name: 'Data binding', completed: false, note: 'add notes...' },
        { name: '$scope', completed: false, note: 'add notes...' },
        { name: 'Controllers and Modules', completed: false, note: 'add notes...' },
        { name: 'Templates and routes', completed: false, note: 'add notes...' },
        { name: 'Filters and Services', completed: false, note: 'add notes...' },
        { name: 'Get started with Node/ExpressJS', completed: false, note: 'add notes...' },
        { name: 'Setup MongoDB database', completed: false, note: 'add notes...' },
        { name: 'Be awesome!', completed: false, note: 'add notes...' },
      ];
    })
    //---------------
    // Controllers
    //---------------
    .controller('TodoController', ['$scope', 'Todos', function ($scope, Todos) {
      $scope.todos = Todos;
    }])
    .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', function ($scope, $routeParams, Todos) {
      $scope.todo = Todos[$routeParams.id];
    }])
    //---------------
    // Routes
    //---------------
    .config(['$routeProvider', function ($routeProvider) {
      $routeProvider
        .when('/', {
          templateUrl: '/todos.html',
          controller: 'TodoController'
        })
        .when('/:id', {
          templateUrl: '/todoDetails.html',
          controller: 'TodoDetailCtrl'
       });
    }]);
</script>

   <!-- The Payment Notification Bar -->
   <div class="notification-container" hidden>
      <ul>
         <li>
            <div class="notification-title"><b>Total Hours to Date</b></div>
            <div class="notification-content" id="notification-hours"><b>999,999</b></div>
         </li>
         <li>
            <div class="notification-title"><b>Total Amount Charged</b></div>
            <div class="notification-content" id="notification-total"><b>$99,999,999.99</b></div>
         </li>
         <li>
            <div class="notification-title"><b>Total Amount Paid</b></div>
            <div class="notification-content" id="notification-paid"><b>$99,999,999.99</b></div>
         </li>
         <li>
            <div class="notification-title"><b>Total Amount Unpaid</b></div>
            <div class="notification-content" id="notification-unpaid"><b>$99,999,999.99</b></div>
         </li>
      </ul>
   </div>

   <div class="count_dropdown">
      <div class="dropdown_text dropdown_closed" id="dropdown_id">
         <b>Total Hours and Money Charged to Date</b> <br>
         <i class="fa fa-chevron-down fa-lg" aria-hidden="true" id="dropdown_icon"></i>
      </div>
   </div>

   <!-- The Mockup of Client Screen -->
   <section class="content gray">
      <div class="container">
        <div class="col-md-12">
         <div class="client_name">
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>  Test User
         </div><br>
         <div class="payment-tabs tabs-style-flip">
            <nav>
               <ul>
                  <li class="tab-current" id="tab1"><a class="tab"><span>Unpaid Invoices (<b class="highlight">15</b>)</span></a></li>
                  <li id="tab2"><a class="tab"><span>Paid Invoices (<b class="highlight">4</b>)</span></a></li>
               </ul>
            </nav>
            <div class="content-wrap">
               <section id="section-flip-1" class="content-current">
                  <div id="heading_entry">
                     <div class="check_header">
                        <input type="checkbox" name="checkBox" id="masterCheckbox" class="checkBox">
                     </div>
                     <div class="invNum_header"><b>Invoice #</b></div>
                     <div class="invHours_header"><b>Hours</b></div>
                     <div class="date_header"><b>Date</b></div>
                     <div class="total_header"><b>Total</b></div>
                     <div class="paid_header"><b>Paid</b></div>
                     <div class="balance_header"><b>Balance</b></div>
                     <div class="status_header"><b>Status</b></div>
                     <div class="actions_header"><b>Actions</b></div>
                  </div><br>
                  <div class="invoice_list">
                     <form action="<?php echo site_url(); ?>/portal" method="POST">
                        <!-- This will generate the rows of entries -->

                        <div class="entry">
                           <div class="check">
                              <input type="checkbox" name="checkBox" id="checkBox" class="checkBox">
                           </div>
                           <div class="invNum"><b>36</b></div>
                           <div class="invHours"><b>1.00</b></div>
                           <div class="date"><b>2016-09-30</b></div>
                           <div class="total"><b>$150.00</b></div>
                           <div class="paid"><b>$-75.00</b></div>
                           <div class="balance" style="color: red;"><b>75.00</b></div>
                           <div class="status partial_invoice"><b>Closed</b>- Full Payment</div>
                           <div class="actions">
                              <div class="btn_pay" id="btn_pay4">
                                 <input type="submit" name="pay4" value="#0" hidden="">
                                 <i class="fa fa-credit-card" aria-hidden="true"></i> <b>Pay</b>
                              </div>
                           </div>
                        </div>
                        <div class="entry">
                           <div class="check">
                              <input type="checkbox" name="checkBox" id="checkBox" class="checkBox">
                           </div>
                           <div class="invNum"><b>31</b></div>
                           <div class="invHours"><b>11.95</b></div>
                           <div class="date"><b>2016-09-30</b></div>
                           <div class="total"><b>$1,415.75</b></div>
                           <div class="paid"><b>$-1,015.75</b></div>
                           <div class="balance" style="color: red;"><b>400.00</b></div>
                           <div class="status partial_invoice"><b>Closed</b>- Full Payment</div>
                           <div class="actions">
                              <div class="btn_pay" id="btn_pay4">
                                 <input type="submit" name="pay4" value="#0" hidden="">
                                 <i class="fa fa-credit-card" aria-hidden="true"></i> <b>Pay</b>
                              </div>
                           </div>
                        </div>
                        <div class="entry">
                           <div class="check">
                              <input type="checkbox" name="checkBox" id="checkBox" class="checkBox">
                           </div>
                           <div class="invNum"><b>40</b></div>
                           <div class="invHours"><b>18.00</b></div>
                           <div class="date"><b>2016-09-30</b></div>
                           <div class="total"><b>$2,640.00</b></div>
                           <div class="paid"><b>$-1,140.00</b></div>
                           <div class="balance" style="color: red;"><b>1,500.00</b></div>
                           <div class="status partial_invoice"><b>Closed</b>- Full Payment</div>
                           <div class="actions">
                              <div class="btn_pay" id="btn_pay4">
                                 <input type="submit" name="pay4" value="#0" hidden="">
                                 <i class="fa fa-credit-card" aria-hidden="true"></i> <b>Pay</b>
                              </div>
                           </div>
                        </div>
                        <div class="entry">
                           <div class="check">
                              <input type="checkbox" name="checkBox" id="checkBox" class="checkBox">
                           </div>
                           <div class="invNum"><b>36</b></div>
                           <div class="invHours"><b>1.00</b></div>
                           <div class="date"><b>2016-09-30</b></div>
                           <div class="total"><b>$150.00</b></div>
                           <div class="paid"><b>$-75.00</b></div>
                           <div class="balance" style="color: red;"><b>75.00</b></div>
                           <div class="status partial_invoice"><b>Closed</b>- Full Payment</div>
                           <div class="actions">
                              <div class="btn_pay" id="btn_pay4">
                                 <input type="submit" name="pay4" value="#0" hidden="">
                                 <i class="fa fa-credit-card" aria-hidden="true"></i> <b>Pay</b>
                              </div>
                           </div>
                        </div>
                        <div class="entry">
                           <div class="check">
                              <input type="checkbox" name="checkBox" id="checkBox" class="checkBox">
                           </div>
                           <div class="invNum"><b>36</b></div>
                           <div class="invHours"><b>1.00</b></div>
                           <div class="date"><b>2016-09-30</b></div>
                           <div class="total"><b>$150.00</b></div>
                           <div class="paid"><b>$-75.00</b></div>
                           <div class="balance" style="color: red;"><b>75.00</b></div>
                           <div class="status partial_invoice"><b>Closed</b>- Full Payment</div>
                           <div class="actions">
                              <div class="btn_pay" id="btn_pay4">
                                 <input type="submit" name="pay4" value="#0" hidden="">
                                 <i class="fa fa-credit-card" aria-hidden="true"></i> <b>Pay</b>
                              </div>
                           </div>
                        </div>
                        <div class="entry">
                           <div class="check">
                              <input type="checkbox" name="checkBox" id="checkBox" class="checkBox">
                           </div>
                           <div class="invNum"><b>36</b></div>
                           <div class="invHours"><b>1.00</b></div>
                           <div class="date"><b>2016-09-30</b></div>
                           <div class="total"><b>$150.00</b></div>
                           <div class="paid"><b>$-75.00</b></div>
                           <div class="balance" style="color: red;"><b>75.00</b></div>
                           <div class="status partial_invoice"><b>Closed</b>- Full Payment</div>
                           <div class="actions">
                              <div class="btn_pay" id="btn_pay4">
                                 <input type="submit" name="pay4" value="#0" hidden="">
                                 <i class="fa fa-credit-card" aria-hidden="true"></i> <b>Pay</b>
                              </div>
                           </div>
                        </div>
                        <div class="entry">
                           <div class="check">
                              <input type="checkbox" name="checkBox" id="checkBox" class="checkBox">
                           </div>
                           <div class="invNum"><b>36</b></div>
                           <div class="invHours"><b>1.00</b></div>
                           <div class="date"><b>2016-09-30</b></div>
                           <div class="total"><b>$150.00</b></div>
                           <div class="paid"><b>$-75.00</b></div>
                           <div class="balance" style="color: red;"><b>75.00</b></div>
                           <div class="status partial_invoice"><b>Closed</b>- Full Payment</div>
                           <div class="actions">
                              <div class="btn_pay" id="btn_pay4">
                                 <input type="submit" name="pay4" value="#0" hidden="">
                                 <i class="fa fa-credit-card" aria-hidden="true"></i> <b>Pay</b>
                              </div>
                           </div>
                        </div>
                        <div class="entry">
                           <div class="check">
                              <input type="checkbox" name="checkBox" id="checkBox" class="checkBox">
                           </div>
                           <div class="invNum"><b>36</b></div>
                           <div class="invHours"><b>1.00</b></div>
                           <div class="date"><b>2016-09-30</b></div>
                           <div class="total"><b>$150.00</b></div>
                           <div class="paid"><b>$-75.00</b></div>
                           <div class="balance" style="color: red;"><b>75.00</b></div>
                           <div class="status partial_invoice"><b>Closed</b>- Full Payment</div>
                           <div class="actions">
                              <div class="btn_pay" id="btn_pay4">
                                 <input type="submit" name="pay4" value="#0" hidden="">
                                 <i class="fa fa-credit-card" aria-hidden="true"></i> <b>Pay</b>
                              </div>
                           </div>
                        </div>
                        <div class="entry">
                           <div class="check">
                              <input type="checkbox" name="checkBox" id="checkBox" class="checkBox">
                           </div>
                           <div class="invNum"><b>36</b></div>
                           <div class="invHours"><b>1.00</b></div>
                           <div class="date"><b>2016-09-30</b></div>
                           <div class="total"><b>$150.00</b></div>
                           <div class="paid"><b>$-75.00</b></div>
                           <div class="balance" style="color: red;"><b>75.00</b></div>
                           <div class="status partial_invoice"><b>Closed</b>- Full Payment</div>
                           <div class="actions">
                              <div class="btn_pay" id="btn_pay4">
                                 <input type="submit" name="pay4" value="#0" hidden="">
                                 <i class="fa fa-credit-card" aria-hidden="true"></i> <b>Pay</b>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </section>
               <section id="section-flip-2">
                  <div id="paid_heading_entry" class="paid_heading_entry">
                     <div class="invNum_header"><b>Invoice #</b></div>
                     <div class="invHours_header"><b>Hours</b></div>
                     <div class="date_header"><b>Date</b></div>
                     <div class="total_header"><b>Total</b></div>
                     <div class="paid_header"><b>Paid</b></div>
                     <div class="balance_header"><b>Balance</b></div>
                     <div class="status_header"><b>Status</b></div>
                  </div><br>
                  <div class="paid_invoice_section" id="paid_invoice_list">
                     <div class="paid_entry">
                        <div class="invNum"><b>32</b></div>
                        <div class="invHours"><b>5.00</b></div>
                        <div class="date"><b>2016-09-30</b></div>
                        <div class="total"><b>$825.00</b></div>
                        <div class="paid"><b>$-825.00</b></div>
                        <div class="balance" style="color: red;"><b>0.00</b></div>
                        <div class="status closed_invoice"><b>Closed</b>- Full Payment</div>
                     </div>
                     <div class="paid_entry">
                        <div class="invNum"><b>35</b></div>
                        <div class="invHours"><b>0.60</b></div>
                        <div class="date"><b>2016-09-30</b></div>
                        <div class="total"><b>$96.00</b></div>
                        <div class="paid"><b>$-96.00</b></div>
                        <div class="balance" style="color: red;"><b>0.00</b></div>
                        <div class="status closed_invoice"><b>Closed</b>- Full Payment</div>
                     </div>
                     <div class="paid_entry">
                        <div class="invNum"><b>38</b></div>
                        <div class="invHours"><b>7.50</b></div>
                        <div class="date"><b>2016-09-30</b></div>
                        <div class="total"><b>$825.00</b></div>
                        <div class="paid"><b>$-825.00</b></div>
                        <div class="balance" style="color: red;"><b>0.00</b></div>
                        <div class="status closed_invoice"><b>Closed</b>- Full Payment</div>
                     </div>
                     <div class="paid_entry">
                        <div class="invNum"><b>7</b></div>
                        <div class="invHours"><b>4.25</b></div>
                        <div class="date"><b>2016-09-30</b></div>
                        <div class="total"><b>$347.50</b></div>
                        <div class="paid"><b>$-347.50</b></div>
                        <div class="balance" style="color: red;"><b>0.00</b></div>
                        <div class="status closed_invoice"><b>Closed</b>- Full Payment</div>
                     </div>
                     <div class="paid_entry">
                        <div class="invNum"><b>7</b></div>
                        <div class="invHours"><b>4.25</b></div>
                        <div class="date"><b>2016-09-30</b></div>
                        <div class="total"><b>$347.50</b></div>
                        <div class="paid"><b>$-347.50</b></div>
                        <div class="balance" style="color: red;"><b>0.00</b></div>
                        <div class="status closed_invoice"><b>Closed</b>- Full Payment</div>
                     </div>
                     <div class="paid_entry">
                        <div class="invNum"><b>7</b></div>
                        <div class="invHours"><b>4.25</b></div>
                        <div class="date"><b>2016-09-30</b></div>
                        <div class="total"><b>$347.50</b></div>
                        <div class="paid"><b>$-347.50</b></div>
                        <div class="balance" style="color: red;"><b>0.00</b></div>
                        <div class="status closed_invoice"><b>Closed</b>- Full Payment</div>
                     </div>
                     <div class="paid_entry">
                        <div class="invNum"><b>7</b></div>
                        <div class="invHours"><b>4.25</b></div>
                        <div class="date"><b>2016-09-30</b></div>
                        <div class="total"><b>$347.50</b></div>
                        <div class="paid"><b>$-347.50</b></div>
                        <div class="balance" style="color: red;"><b>0.00</b></div>
                        <div class="status closed_invoice"><b>Closed</b>- Full Payment</div>
                     </div>
                     <div class="paid_entry">
                        <div class="invNum"><b>7</b></div>
                        <div class="invHours"><b>4.25</b></div>
                        <div class="date"><b>2016-09-30</b></div>
                        <div class="total"><b>$347.50</b></div>
                        <div class="paid"><b>$-347.50</b></div>
                        <div class="balance" style="color: red;"><b>0.00</b></div>
                        <div class="status closed_invoice"><b>Closed</b>- Full Payment</div>
                     </div>
                     <div class="paid_entry">
                        <div class="invNum"><b>7</b></div>
                        <div class="invHours"><b>4.25</b></div>
                        <div class="date"><b>2016-09-30</b></div>
                        <div class="total"><b>$347.50</b></div>
                        <div class="paid"><b>$-347.50</b></div>
                        <div class="balance" style="color: red;"><b>0.00</b></div>
                        <div class="status closed_invoice"><b>Closed</b>- Full Payment</div>
                     </div>
                     <div class="paid_entry">
                        <div class="invNum"><b>7</b></div>
                        <div class="invHours"><b>4.25</b></div>
                        <div class="date"><b>2016-09-30</b></div>
                        <div class="total"><b>$347.50</b></div>
                        <div class="paid"><b>$-347.50</b></div>
                        <div class="balance" style="color: red;"><b>0.00</b></div>
                        <div class="status closed_invoice"><b>Closed</b>- Full Payment</div>
                     </div>
                  </div>
               </section>
            </div><!-- /content -->
         </div><!-- /tabs -->
      </div>
      <div class="col-md-12">
         <!-- Top Master Choice Buttons -->
         <div class="button_container">
           <div class="pay_invoices">
              <i class="fa fa-check-square-o" aria-hidden="true"></i> Pay Selected Invoices 
           </div>
           <div class="error"></div>
        </div>
     </div>
  </div>
</section>

</body>
</html>